<div ng-include="'views/templates/nav.html'"></div>
<div class="projects">
  <br>
  <h1>Projects</h1>
  <div class="projects">
    <div class="col-sm-6">
      <h4><a href="https://cruise-mn.herokuapp.com/">CruiseMN</a></h4>
      <p>Currently there are no resources for people passionate about longboarding to locate the best paved paths to ride in
        Minnesota. CruiseMN is an app for longboarders to locate paths by map, find exact parking directions, search for
        paths by keyword, view detailed path information and photos, rate each path, and add additional paths to the current
        collection.
      </p>
      <h5>Try it out: <a href="https://cruise-mn.herokuapp.com/">cruise-mn.herokuapp.com</a></h5>
      <h5>Register or use username 'guest'/password 'guest'</h5>
      <img class="board" src="assets/all.png" class="img-rounded" alt="All Path View">
      <img class="board" src="assets/specific.png" class="img-rounded" alt="Specific Path View">
    </div>
    <div class="col-sm-6">
      <h4><a href="https://belwin-citizen-science.herokuapp.com/">Belwin Citizen Science App</a></h4>
      <p>Belwin Outdoor Science is a program for students to experience single-day science-focused field investigations, and
        currently students must go out into the wilderness with paper copies of data sheets to record nature observations,
        causing staff to spend time manually collecting and compiling this data. The Belwin Outdoor Science app was created
        so students are able to reference a photo for organism identification, track their observations, and record any notes
        electronically while out in nature with no wifi, and teachers are able to consolidate and view current observation
        data.
      </p>
      <h5>Try it out: <a href="https://belwin-citizen-science.herokuapp.com/">belwin-citizen-science.herokuapp.com</a></h5>
      <img src="assets/studentview.png" class="img-rounded" alt="Student View">
      <img src="assets/staffview.png" class="img-rounded" alt="Staff View">
    </div>
  </div>
  <br>
  <div id="repos">
    <h2>Check out additional repos at <a href="{{uc.user.data.html_url}}">github.com/amischroeder</a></h2>
    <!-- <h4>Check out additional repos below!</h4>
    <table class="table table-striped">
            <thead>
              <tr>
                <th>Repo Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="thing in uc.repos.data">
                <td><a href="{{thing.html_url}}">{{thing.name}}</a></td>
                <td>{{thing.description}}</td>
              </tr>
            </tbody>
          </table> -->
  </div>
</div>